<a href="https://colab.research.google.com/github/andrew98450/StableGAN-LM/blob/main/StableGAN_LM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from tokenizers import Tokenizer, models, pre_tokenizers, decoders, trainers, processors
from transformers import GPT2TokenizerFast
import pandas as pd
import torch

In [2]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
import kagglehub
from kagglehub import KaggleDatasetAdapter

# Set the path to the file you'd like to load
file_path = "spider_text_sql.csv"

# Load the latest version
df = kagglehub.load_dataset(
  KaggleDatasetAdapter.PANDAS,
  "mohammadnouralawad/spider-text-sql",
  file_path,
  # Provide any additional arguments like
  # sql_query or pandas_kwargs. See the
  # documenation for more information:
  # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
)

print("First 5 records:", df.head())

/tmp/ipython-input-2-2179359632.py:10: DeprecationWarning: load_dataset is deprecated and will be removed in a future version.
  df = kagglehub.load_dataset(

First 5 records:                                           text_query  \
0  How many heads of the departments are older th...
1  List the name, born state and age of the heads...
2  List the creation year, name and budget of eac...
3  What are the maximum and minimum budget of the...
4  What is the average number of employees of the...

                                         sql_command
0         SELECT count(*) FROM head WHERE age  >  56
1  SELECT name ,  born_state ,  age FROM head ORD...
2  SELECT creation ,  name ,  budget_in_billions ...
3  SELECT max(budget_in_billions) ,  min(budget_i...
4  SELECT avg(num_employees) FROM department WHER...

In [ ]:
# Initialize a tokenizer
tokenizer = Tokenizer(models.BPE())

# Customize pre-tokenization and decoding
tokenizer.pre_tokenizer = pre_tokenizers.ByteLevel(add_prefix_space=True)
tokenizer.decoder = decoders.ByteLevel()
tokenizer.post_processor = processors.ByteLevel(trim_offsets=True)

# And then train
trainer = trainers.BpeTrainer(
    vocab_size=1000)
tokenizer.train_from_iterator(df["text_query"], trainer=trainer)
tokenizer.train_from_iterator(df["sql_command"], trainer=trainer)

# And Save it
tokenizer.save("text2sql.json", pretty=True)

In [3]:
tokenizer = GPT2TokenizerFast(tokenizer_file="text2sql.json")
tokenizer.pad_token = tokenizer.eos_token
prompt = tokenizer.batch_encode_plus(df["text_query"].to_list(), max_length=60, truncation=True, padding="max_length", return_tensors="pt")
target = tokenizer.batch_encode_plus(df["sql_command"].to_list(), max_length=60, truncation=True, padding="max_length", return_tensors="pt")
prompt = prompt["input_ids"]
target = target["input_ids"]

In [4]:
class Encoder(torch.nn.Module):

    def __init__(self, vocab_size, seq_len) -> None:
        super(Encoder, self).__init__()

        self.embedding_layer = torch.nn.Embedding(vocab_size, 64, padding_idx=1000)

        self.mha_layer = torch.nn.MultiheadAttention(64, num_heads=8, dropout=0.1, batch_first=True)

        self.fc_mean_layer = torch.nn.Sequential(
            torch.nn.Flatten(),
            torch.nn.Linear(seq_len * 64, 64))
        self.fc_std_layer = torch.nn.Sequential(
            torch.nn.Flatten(),
            torch.nn.Linear(seq_len * 64, 64))

    def forward(self, inputs):
        outputs = self.embedding_layer(inputs)
        outputs, _ = self.mha_layer(outputs, outputs, outputs)
        mean = self.fc_mean_layer(outputs)
        std = torch.exp(self.fc_std_layer(outputs))
        eps = torch.randn_like(mean)
        z = mean + (std * eps)
        return z

class Decoder(torch.nn.Module):

    def __init__(self, vocab_size, seq_len) -> None:
        super(Decoder, self).__init__()
        self.seq_len = seq_len
        self.latent_layer = torch.nn.Linear(64, seq_len * 64)

        self.mha_layer = torch.nn.MultiheadAttention(64, num_heads=8, dropout=0.1, batch_first=True)

        self.fc_layer = torch.nn.Linear(64, vocab_size)

    def forward(self, inputs):
        outputs = self.latent_layer(inputs)
        outputs = torch.reshape(outputs, (-1, self.seq_len, 64))
        outputs, _ = self.mha_layer(outputs, outputs, outputs)
        outputs = self.fc_layer(outputs)
        return outputs

class VAE(torch.nn.Module):

    def __init__(self, vocab_size, seq_len) -> None:
        super(VAE, self).__init__()
        self.seq_len = seq_len
        self.encoder_layer = Encoder(vocab_size, seq_len)
        self.decoder_layer = Decoder(vocab_size, seq_len)

    def forward(self, inputs):
        encoded = self.encoder_layer(inputs)
        outputs = self.decoder_layer(encoded)
        return outputs

In [ ]:
epochs = 50
lr = 0.001
batch_size = 64
sample_size = 5
vocab_size = 1001
seq_len = 60
model = VAE(vocab_size, seq_len)

model.cuda()

optim = torch.optim.Adam(model.parameters(), lr=lr)

from torch.utils.data import TensorDataset, DataLoader

datasets = TensorDataset(target, prompt)
dataloader = DataLoader(datasets, batch_size=batch_size, shuffle=True, drop_last=True)

ce_loss = torch.nn.CrossEntropyLoss()

In [ ]:
for epoch in range(1, epochs+1):
  for iters, (x, _) in enumerate(dataloader, 0):
      x = x.long().cuda()
      outputs = model(x)
      loss = ce_loss(outputs.view(-1, vocab_size), x.view(-1))
      optim.zero_grad()
      loss.backward()
      optim.step()
      if iters % 50 == 0:
        print(f"[+] Epoch: [{epoch}/{epochs}] Loss: {loss.item()}")
        with torch.no_grad():
          output = torch.distributions.Categorical(logits=outputs).sample()
          print(f"Output: \n {tokenizer.batch_decode(output, skip_special_tokens=True)[0]}")
model.cpu()
torch.save(model.state_dict(), 'vae_model.pt')

In [5]:
vocab_size = 1001
seq_len = 60
vae_model = VAE(vocab_size, seq_len)
vae_model.load_state_dict(torch.load("./vae_model.pt"))
vae_model.cuda()

for parm in vae_model.parameters():
    parm.requires_grad = False

def encoder(inputs):
    with torch.no_grad():
        outputs = vae_model.encoder_layer(inputs)
    return outputs

def decoder(inputs):
    with torch.no_grad():
        outputs = vae_model.decoder_layer(inputs)
    return outputs

In [6]:
class ResLinear(torch.nn.Module):

    def __init__(self, feature) -> None:
        super(ResLinear, self).__init__()
        self.fc_layer = torch.nn.Sequential(
            torch.nn.Linear(feature, 256),
            torch.nn.SiLU(),
            torch.nn.Linear(256, feature))
        self.layer_norm = torch.nn.LayerNorm(feature)

    def forward(self, inputs):
        outputs = self.fc_layer(inputs)
        outputs = self.layer_norm(inputs + outputs)
        return outputs

class Generator(torch.nn.Module):
    def __init__(self, vocab_size, seq_len) -> None:
      super(Generator, self).__init__()
      self.seq_len = seq_len
      self.latent_embedding = torch.nn.Linear(128, 128)
      self.cond_embedding = torch.nn.Sequential(
          torch.nn.Embedding(vocab_size, 128, padding_idx=1000),
          torch.nn.Flatten(),
          torch.nn.Linear(seq_len * 128, 128))
      self.res_fc = torch.nn.Sequential(
          ResLinear(256),
          ResLinear(256),
          ResLinear(256))
      self.latent_fc = torch.nn.Linear(256, 64)

    def forward(self, z, c):
      z = self.latent_embedding(z)
      c = self.cond_embedding(c)
      x = torch.cat((z, c), dim=-1)
      x = self.res_fc(x)
      x = self.latent_fc(x)
      return x

class Discriminator(torch.nn.Module):
    def __init__(self, vocab_size, seq_len = 60) -> None:
      super(Discriminator, self).__init__()
      self.seq_len = seq_len
      self.latent_embedding = torch.nn.Linear(64, 128)
      self.cond_embedding = torch.nn.Sequential(
          torch.nn.Embedding(vocab_size, 128, padding_idx=1000),
          torch.nn.Flatten(),
          torch.nn.Linear(seq_len * 128, 128))
      self.res_fc = torch.nn.Sequential(
          ResLinear(256),
          ResLinear(256),
          ResLinear(256))
      self.prob_fc = torch.nn.Sequential(
          torch.nn.Linear(256, 1),
          torch.nn.Sigmoid())

    def forward(self, x, c):
      x = self.latent_embedding(x)
      c = self.cond_embedding(c)
      x = torch.cat((x, c), dim=-1)
      x = self.res_fc(x)
      x = self.prob_fc(x)
      return x

In [7]:
epochs = 300
lr = 0.0002
batch_size = 64
seq_len = 60
sample_size = 5
vocab_size = 1001
G = Generator(vocab_size, seq_len)
D = Discriminator(vocab_size, seq_len)

G.cuda()
D.cuda()

g_optim = torch.optim.Adam(G.parameters(), lr=lr, betas=(0.5, 0.999))
d_optim = torch.optim.Adam(D.parameters(), lr=lr, betas=(0.5, 0.999))

from torch.utils.data import TensorDataset, DataLoader

datasets = TensorDataset(target, prompt)
dataloader = DataLoader(datasets, batch_size=batch_size, shuffle=True, drop_last=True)

bce_loss = torch.nn.BCELoss()

In [8]:
for epoch in range(1, epochs+1):
  for iters, (x, c) in enumerate(dataloader, 0):
      x_real = x.long().cuda()
      z_real = encoder(x_real)

      z = torch.randn(batch_size, 128).cuda()
      c = c.long().cuda()
      with torch.no_grad():
        z_fake = G(z, c)
      d_real = D(z_real, c)
      d_fake = D(z_fake, c)
      d_loss = bce_loss(d_real, torch.ones_like(d_real)) + bce_loss(d_fake, torch.zeros_like(d_fake))
      d_optim.zero_grad()
      d_loss.backward()
      d_optim.step()

      z_fake = G(z, c)
      d_fake = D(z_fake, c)
      g_loss = bce_loss(d_fake, torch.ones_like(d_fake))
      g_optim.zero_grad()
      g_loss.backward()
      g_optim.step()

      if iters % 50 == 0:
        print(f"[+] Epoch: [{epoch}/{epochs}] G_Loss: {g_loss.item()} D_Loss: {d_loss.item()}")
        z = torch.randn(batch_size, 128).cuda()
        with torch.no_grad():
          output = G(z, c)
          output = torch.distributions.Categorical(logits=decoder(output)).sample()


          prompts = tokenizer.batch_decode(c, skip_special_tokens=True)[0]
          outputs = tokenizer.batch_decode(output, skip_special_tokens=True)[0]
          print(f"Prompt: \n {prompts}")
          print(f"Output: \n {outputs}")
G.cpu()
D.cpu()

torch.save(G.state_dict(), 'ganlm_modelG.pt')
torch.save(D.state_dict(), 'ganlm_modelD.pt')

[+] Epoch: [1/300] G_Loss: 1.974495768547058 D_Loss: 1.6751960515975952
Prompt:
 How many distinct programs are broadcast at "Night" time
Output:
  countces Room Col BETWEEN0ntinentours chitionert T 19 1ct1z LIMITHamountCEPTm ,Code:0=en8utes NOTork4k UNIONuidTS 10ex DESCq districthereERE"'3 3 <uilding namedateB raprice01act0h
[+] Epoch: [1/300] G_Loss: 2.681807279586792 D_Loss: 0.6898761987686157
Prompt:
 What is the date of birth of every customer whose status code is 'Good Customer'
Output:
 SELECT deillSelcocolchcoNnCSonKs
[+] Epoch: [1/300] G_Loss: 1.5329492092132568 D_Loss: 0.6683480739593506
Prompt:
 Find the name all districts with city area greater than 10 or population larger than 100000
Output:
 SELECT cnamel authorssla date DESC  LOCATION DESCea DESC > ASC
[+] Epoch: [2/300] G_Loss: 3.152301788330078 D_Loss: 0.693906843662262
Prompt:
 Find out the top 10 customers by total number of orders. List customers' first and last name and the number of total orders.
Output:
 SELECT DISTINCTeamresl name , FROM M Eeamwientat tryoutwddress AS VwES DOMfusicalings =   200 3
[+] Epoch: [2/300] G_Loss: 3.8679659366607666 D_Loss: 0.2709953784942627
Prompt:
 Return the grade that has the greatest number of high schoolers.
Output:
 customerstationount 19 19customercustcustomercustomercustomer BY BY_customer_amount Tcust BY Tcoursestation AS BY T IN customers INcourseemailclubbranch Tstuidlassemailstuid AS AS INstuidcustcustidstuidemailemailemail AS INraceidstuidcustidcustidlassstuid course ASstuid AScustid
[+] Epoch: [2/300] G_Loss: 5.282732963562012 D_Loss: 1.334563970565796
Prompt:
 What is the total share (in percent) of all the channels owned by CCTV
Output:
 SELECT count(*) FROM1inine E b1 inNotfst  t12Lma sn ON -62andadsestup1ad BETWEEN  '2chsebD =   "2
[+] Epoch: [3/300] G_Loss: 2.508742332458496 D_Loss: 0.6232193112373352
Prompt:
 What are the different locations of the school with the code BUS
Output:
 SELECT deemein FROM schoolicvgs WHERE WHERE tryout WHEREGoles FROM (xes  ACdgA OR( < sumNx)'
[+] Epoch: [3/300] G_Loss: 3.860260486602783 D_Loss: 0.3198973834514618
Prompt:
 Find the name and ID of the product whose total order quantity is the largest.
Output:
 SELECT sumolngen_aryicyg WHERE w WHERE ueenv JuSELECT > uenuas LIMIT 1
[+] Epoch: [3/300] G_Loss: 3.615546941757202 D_Loss: 0.5032045245170593
Prompt:
 Which artist does the album "Balls to the Wall" belong to
Output:
 SELECT(*)apacity DESC (*)(*) teatKdele) DESC 1;
[+] Epoch: [4/300] G_Loss: 2.7593934535980225 D_Loss: 0.4359247088432312
Prompt:
 What are the names of all games played by Linda Smith
Output:
 SELECT phoneamobilyamcoumeryob DESC "
[+] Epoch: [4/300] G_Loss: 4.2242231369018555 D_Loss: 0.3850383460521698
Prompt:
 For each zip code, what is the average mean temperature for all dates that start with '8'
Output:
 SELECT PRLofiEIST WHERE BimAEination  < 000G LLre AND8raia0
[+] Epoch: [4/300] G_Loss: 3.8546650409698486 D_Loss: 0.3738337755203247
Prompt:
 What are the countries of mountains with height bigger than 5000
Output:
 SELECT Name FROM  demyear)  <  stner)asons DESC >
[+] Epoch: [5/300] G_Loss: 3.6773085594177246 D_Loss: 0.5327923893928528
Prompt:
 How many movies were made before 2000
Output:
 SELECT(*)(*)DISTINCT YEAR FROMeight Student FROM WHEREistiname ASC 1;;
[+] Epoch: [5/300] G_Loss: 3.9797801971435547 D_Loss: 0.9250777363777161
Prompt:
 What are the descriptions for each color
Output:
 SELECT DISTINCTcorireenhip FROMors college schoolerannel people FROM FROMiveSELECT FROM song FROMusesersonkgesments LIMIT
[+] Epoch: [5/300] G_Loss: 4.192838668823242 D_Loss: 0.49166637659072876
Prompt:
 What is the name and salary for employee with id 242518965
Output:
 SELECT country FROM compAirport , BY onehYear DESC >aopulation ASC
[+] Epoch: [6/300] G_Loss: 4.160707473754883 D_Loss: 0.3321167230606079
Prompt:
 What are the name of courses that have at least five enrollments
Output:
 SELECT count(DISTINCT  deptcdur) AS airports chECT WHERE salary  s4hfs = count < < 2 1;
[+] Epoch: [6/300] G_Loss: 3.7413530349731445 D_Loss: 0.45922067761421204
Prompt:
 Show the name, average attendance, total attendance for stadiums where no accidents happened.
Output:
 SELECT T(rID FROM FROMleTS AS S JOINitastex 200;;
[+] Epoch: [6/300] G_Loss: 2.2441935539245605 D_Loss: 0.7587754130363464
Prompt:
 Find the author for each submission and list them in ascending order of submission score.
Output:
 SELECT Teadquartlight FROM h OationESESSTESNI ASC
[+] Epoch: [7/300] G_Loss: 3.2439002990722656 D_Loss: 0.753898561000824
Prompt:
 What are the team and the location of school each player belongs to
Output:
 SELECT name , H1sename   T4ng FROM LOCATION FROM LOCATIONaest a Coecesnwedagearallee"
[+] Epoch: [7/300] G_Loss: 2.774881601333618 D_Loss: 0.6113085746765137
Prompt:
 Which staff members who reported problems from the product "rem" but not "aut" Give me their first and last names.
Output:
 SELECT b st.dvateodel WHERE bT Malpage FROM =  T1SNenenkater =8 M22Khognk 19
[+] Epoch: [7/300] G_Loss: 2.9722018241882324 D_Loss: 0.42602694034576416
Prompt:
 Show headquarters with at least two companies in the banking industry.
Output:
 SELECT founageev , , WHERE shipresiz FROMadersw ASC FROMinesors
[+] Epoch: [8/300] G_Loss: 3.3423643112182617 D_Loss: 0.42085957527160645
Prompt:
 Show the name of the party that has the most delegates.
Output:
 SELECT 1  1oursde)) , LIMIT(*)vestor)le DESC LIMIT;
[+] Epoch: [8/300] G_Loss: 3.152256965637207 D_Loss: 0.35113948583602905
Prompt:
 Find the states or counties where the stores with marketing region code "CA" are located.
Output:
 SELECT (*)  Movie FROM BY    T S 11;Robum;: Sn
[+] Epoch: [8/300] G_Loss: 2.95656681060791 D_Loss: 0.48174235224723816
Prompt:
 What is average and maximum salary of all employees.
Output:
 SELECT count(*)  LOCATION(*) nameDISTINCT count(*))
[+] Epoch: [9/300] G_Loss: 2.876077890396118 D_Loss: 0.46594053506851196
Prompt:
 What is the average number of hours spent practicing for students who got rejected
Output:
 SELECT Country FROM SestE FROM Eddressesen mss GROUP BY Name DESC;
[+] Epoch: [9/300] G_Loss: 3.2386960983276367 D_Loss: 0.40189701318740845
Prompt:
 How many professors do have a Ph.D. degree
Output:
 )(*) FROM COUNT;
[+] Epoch: [9/300] G_Loss: 2.7715067863464355 D_Loss: 0.7528414726257324
Prompt:
 Which advisors have more than two students
Output:
 ; DESC DESC LIMIT DESC
[+] Epoch: [10/300] G_Loss: 3.105607509613037 D_Loss: 0.6305454969406128
Prompt:
 What is the alphabetically ordered list of all distinct medications
Output:
 SELECT l_code FROM city FROM project_ ORDER as WHEREs DESC DESC 1;
[+] Epoch: [10/300] G_Loss: 2.3427958488464355 D_Loss: 0.6513586044311523
Prompt:
 What are the names of all races that occurred after 12:00:00 or before 09:00:00
Output:
 SELECT name , FROMert WHERE = st 'studentfe LIKEavs 3
[+] Epoch: [10/300] G_Loss: 2.9834952354431152 D_Loss: 0.7355749607086182
Prompt:
 What is the maximum and minimum resolution of all songs that are approximately 3 minutes long
Output:
 SELECT sumeadquarteme FROM pmpanelroll Coele WHERE peropulation) <  15
[+] Epoch: [11/300] G_Loss: 3.247471570968628 D_Loss: 0.43479815125465393
Prompt:
 What is the average unit price of all the tracks
Output:
 SELECT name)h deptapacity)grade FROM DESC LIMIT0 DESC
[+] Epoch: [11/300] G_Loss: 3.065281867980957 D_Loss: 0.3775166869163513
Prompt:
 How many tourists did not make any visit
Output:
 SELECT count(DISTINCT '%apseason FROM WHERE BY 5lubrecity DESC 1;;
[+] Epoch: [11/300] G_Loss: 2.6193206310272217 D_Loss: 0.4967808425426483
Prompt:
 Show me all grades that have at least 4 students.
Output:
 SELECT Age FROM player FROM DESC LIMIT ASC 1 DESC LIMIT
[+] Epoch: [12/300] G_Loss: 2.9733572006225586 D_Loss: 0.45216691493988037
Prompt:
 Which students live in the city with code "NYC" and have class senator votes in the spring election cycle Count the numbers.
Output:
 SELECT anumber , ce__bgs FROM Coatuentddresses WHERE chhimeerrean DESCce
[+] Epoch: [12/300] G_Loss: 3.3794190883636475 D_Loss: 0.4894062876701355
Prompt:
 What are the distinct ages of the heads who are acting
Output:
 SELECT count FROM ra Customers WHERE BY genderct <8 200 "0;;
[+] Epoch: [12/300] G_Loss: 3.1334450244903564 D_Loss: 0.3282010555267334
Prompt:
 Find the claims that led to more than two settlements or have the maximum claim value. For each of them, return th
Output:
 SELECT TNN bnESiycoG b WHERE  " Fntk WHERE UTIONUkLonankANast2EUGn sTenenCode "  "iunC_ct  "SLandGSAse
[+] Epoch: [13/300] G_Loss: 2.9394118785858154 D_Loss: 0.3947310149669647
Prompt:
 What are the maximum and minimum age of students with major 600
Output:
 (*)(*)jor , DESC  1 room_ DESC(*)(*) avg wi 1
[+] Epoch: [13/300] G_Loss: 4.004836559295654 D_Loss: 0.32950669527053833
Prompt:
 Give the unit of measure for the product with the name 'cumin'.
Output:
 SELECT D FROM FROM MmissionID WHERE title WHERE Hom = 100  46artalleratestars ASC 1ler;
[+] Epoch: [13/300] G_Loss: 2.982041358947754 D_Loss: 0.5898014307022095
Prompt:
 How many flights arriving in Aberdeen city
Output:
 SELECT DISTINCT(*) FROM VervSt WHERE LIMIT 3 DESC 1 1
[+] Epoch: [14/300] G_Loss: 3.110992193222046 D_Loss: 0.7882993221282959
Prompt:
 Which teams had more than 3 eliminations
Output:
 SELECT name) classroom FROM count name FROM YEARy) ASC LIMIT 1
[+] Epoch: [14/300] G_Loss: 3.09143328666687 D_Loss: 0.4578638970851898
Prompt:
 What are the famous titles of artists who have not only had volumes that spent more than 2 weeks on top
Output:
 SELECT T2.R_entca FROMgsory FROM T T1Vult FROM j ss  b T1 JOIN sekes1w ON a JOIN JOIN JOINist JOIN j ON1 T2.e_SSeer_um  T =.v_
[+] Epoch: [14/300] G_Loss: 2.8194735050201416 D_Loss: 0.5564393997192383
Prompt:
 List the names of editors in ascending order of age.
Output:
 SELECT countasyeobur ASCro
[+] Epoch: [15/300] G_Loss: 3.4799234867095947 D_Loss: 0.37367552518844604
Prompt:
 What are the names of all songs that are in mp3 format and have a resolution lower than 1000
Output:
 SELECT Hlap , DportName FROM BY COUNT FROMusicalationopulation DESC DESC LIMIT 195
[+] Epoch: [15/300] G_Loss: 2.6389389038085938 D_Loss: 0.5025660991668701
Prompt:
 Give the unit of measure for the product with the name 'cumin'.
Output:
 SELECT St_entusicale  student_erenestivalcourseererventategory DESC 55 1
[+] Epoch: [15/300] G_Loss: 3.3349828720092773 D_Loss: 0.5935420989990234
Prompt:
 For each file format, return the number of artists who released songs in that format.
Output:
 SELECT Name  Peoplecorct Co ASC STee Age 1Kiader DESC
[+] Epoch: [16/300] G_Loss: 3.351714611053467 D_Loss: 0.4372181296348572
Prompt:
 For which product was there a problem reported by Christop Berge, with closure authorised by Ashley Medhurst Return the product id
Output:
 SELECT count(*) FROM shop_INacode , IN ST_isffcode) >:;
[+] Epoch: [16/300] G_Loss: 3.73437237739563 D_Loss: 0.36000722646713257
Prompt:
 What is the unit of measurement of product named "cumin"
Output:
 SELECT TYPE FROM FROMannolicies WHERE inals AND = 19;8
[+] Epoch: [16/300] G_Loss: 3.049027681350708 D_Loss: 0.5499535799026489
Prompt:
 display the average salary of employees for each department who gets a commission percentage.
Output:
 SELECT (*) oursDISTINCTubCountryID  BY(RUBEES GkECEESKen ben;
[+] Epoch: [17/300] G_Loss: 3.1807050704956055 D_Loss: 0.6414284706115723
Prompt:
 List the most common hometown of teachers.
Output:
 SELECT DISTINCT en CoSst FROM country WHERE WHERE M =1etings ASC ASC 1
[+] Epoch: [17/300] G_Loss: 3.5396292209625244 D_Loss: 0.6748170852661133
Prompt:
 How many countries are there in total
Output:
 SELECT count( FROMenvorank LIMIT;
[+] Epoch: [17/300] G_Loss: 2.794984817504883 D_Loss: 0.6660627126693726
Prompt:
 What are the names, ages, and countries of artists, sorted by the year they joined
Output:
 SELECT MlOMName FROM MAies FROM P( GROUP  3GUankFiesr YEAR(*)
[+] Epoch: [18/300] G_Loss: 2.5328779220581055 D_Loss: 0.5765179991722107
Prompt:
 What are the manager name and district of the shop that sells the largest number of products
Output:
 SELECT1art.fcorenumber , b cstarto_id FROM se JOIN bnchst shhssastignssineless a1(*)(*)
[+] Epoch: [18/300] G_Loss: 2.9594943523406982 D_Loss: 0.4300276041030884
Prompt:
 What are the names of perpetrators
Output:
 SELECT * FROM FROM strank ORDER airports
[+] Epoch: [18/300] G_Loss: 2.7307701110839844 D_Loss: 0.5777493715286255
Prompt:
 How many people are there of each nationality
Output:
 SELECT Re name FROMationctG_ern LIKEopUess%"ra
[+] Epoch: [19/300] G_Loss: 2.9095261096954346 D_Loss: 0.6189778447151184
Prompt:
 What are the names of the storms that affected Denmark
Output:
 SELECT stateeprice ORDER FROMenderos ASC ASC 1
[+] Epoch: [19/300] G_Loss: 3.2073183059692383 D_Loss: 0.5277973413467407
Prompt:
 display the first and last name, department, city, and state province for each employee.
Output:
 SELECT phoneeme , , FROM ed__stationings WHERE   ( SELECT = ed AND0000 1
[+] Epoch: [19/300] G_Loss: 2.7994868755340576 D_Loss: 0.4985334277153015
Prompt:
 Which institution is the author "Matthias Blume" belong to Give me the name of the institution.
Output:
 SELECT YEAR D2Sro chodce_id , BY T JOIN T P air E player AS course a A1k JOINcraft Air(*) = ON1LPTyer ORDER itle GROUPastilm_ DESC
[+] Epoch: [20/300] G_Loss: 3.034507989883423 D_Loss: 0.613717794418335
Prompt:
 What are the majors only less than three students are studying
Output:
 SELECT PDseers GROUP YEARSELECT Dage ORDER =( DESC; DESC
[+] Epoch: [20/300] G_Loss: 3.5872161388397217 D_Loss: 0.4724924564361572
Prompt:
 What are the different first names for customers from Brazil who have also had an invoice
Output:
 SELECT Dyccode  FmployegreeOT Students GROUP BY T(*)(*)Employeenorkain; DESC
[+] Epoch: [20/300] G_Loss: 3.4518470764160156 D_Loss: 0.8112432956695557
Prompt:
 What are the full names of all left handed players, in order of birth date
Output:
 SELECT teach_id FROM COUNT NameName    BY S BY COUNT0
[+] Epoch: [21/300] G_Loss: 3.608349323272705 D_Loss: 0.66939777135849
Prompt:
 What are the package options and the name of the series for the TV Channel that supports high definition TV
Output:
 SELECT ranks ,  BY cseistsalaryid FROMdname FROM stationSELECT 5(*) 1 1;
[+] Epoch: [21/300] G_Loss: 2.5177338123321533 D_Loss: 0.6507816314697266
Prompt:
 What are the names of all cartoons directed by Ben Jones
Output:
 SELECT LOCATIONationality FROM istct shipct ASC BETWEEN
[+] Epoch: [21/300] G_Loss: 2.6989879608154297 D_Loss: 0.5692412853240967
Prompt:
 Show the id and star rating of each hotel, ordered by its price from low to high.
Output:
 SELECT Name , FROM  g__ ORDER HAVING  entum FROM  count count  GROUP ssattand
[+] Epoch: [22/300] G_Loss: 2.7561326026916504 D_Loss: 0.40515071153640747
Prompt:
 List the distinct ranges of the mountains with the top 3 prominence.
Output:
 SELECT DISTINCT phone FROM Inentshipizentps FROM b departments ASC COUNT
[+] Epoch: [22/300] G_Loss: 2.812561511993408 D_Loss: 0.6106373071670532
Prompt:
 Show the status of the city that has hosted the greatest number of competitions.
Output:
 SELECT count count T ( FROM college  T11erformance BY T2own HAVING perageerformancecraft   t2 =2 <7(*)7 ASro <0006%'
[+] Epoch: [22/300] G_Loss: 3.042896270751953 D_Loss: 0.7174826264381409
Prompt:
 Show all video game types and the number of video games in each type.
Output:
 SELECT T2.datect1atesct Documentsiin_ses GROUP T T.RIn_id  each1partb ON T12fCInard2B ";K=2Inntctorreotel  T2 "E2
[+] Epoch: [23/300] G_Loss: 2.8505947589874268 D_Loss: 0.4567345976829529
Prompt:
 Find the types and details for all premises and order by the premise type.
Output:
 SELECT minmpricei catalog_mname  name ,stnri__coryut roomustevinu_m) CryUPut
[+] Epoch: [23/300] G_Loss: 3.067256212234497 D_Loss: 0.6688355207443237
Prompt:
 For each headquarter, what are the headquarter and how many companies are centered there
Output:
 SELECT DISTINCTport FROM Pimitationscraft WHERE idd WHERE film SELECT T Tres_TypeiconInFdedeses LIMIT 1eamYftoates
[+] Epoch: [23/300] G_Loss: 3.0410866737365723 D_Loss: 0.5218796730041504
Prompt:
 Count the number of programs broadcast for each time section of a day.
Output:
 SELECT count(*)ors playmployeital FROM  t1inors FROM classrooms Staff
[+] Epoch: [24/300] G_Loss: 3.1525604724884033 D_Loss: 0.32025155425071716
Prompt:
 Find the name of the students who have more than one advisor
Output:
 SELECT Re(*)ION FROM COUNT FROM jometpe LIKE(*) LIMIT BY  10000 1
[+] Epoch: [24/300] G_Loss: 2.862344980239868 D_Loss: 0.48270469903945923
Prompt:
 What is the name of the staff that is in charge of the attraction named "US museum"
Output:
 SELECT emnleriereannel WHERE  LOCATION WHERE country BY = 'apcovhra)  'eleLnitredn
[+] Epoch: [24/300] G_Loss: 3.008478879928589 D_Loss: 0.7121127843856812
Prompt:
 List the names of pilots that do not have any record.
Output:
 SELECT Name FROM bAirth_ FROM WHERE  WINE ORDER DISTINCT(0reation LIMIT >  16 ORounsubl
[+] Epoch: [25/300] G_Loss: 3.2057671546936035 D_Loss: 0.5976330637931824
Prompt:
 Show ids for all employees who don't have a certificate.
Output:
 SELECT course_code  = cname  IN(*) OR =(id  SELECTexat FROMesname INTERSECT ) buildingreso";' 1
[+] Epoch: [25/300] G_Loss: 3.053682565689087 D_Loss: 0.5142834186553955
Prompt:
 What are the famous titles of artists who have not only had volumes that spent more than 2 weeks on top
Output:
 SELECT max(Tvo_ GROUP count1.__s NOT otalSELECTgame FROM stredit_ant) BY  3(avs)elo) LIMIT
[+] Epoch: [25/300] G_Loss: 3.033107280731201 D_Loss: 0.4499799609184265
Prompt:
 Which grade is studying in room 105
Output:
 SELECT avl__id FROM  countartche shop FROMbleaintnotardat FROM   1 4_station >=
[+] Epoch: [26/300] G_Loss: 3.076814651489258 D_Loss: 0.48217862844467163
Prompt:
 Find the names of all patients who have an undergoing treatment and are staying in room 111.
Output:
 SELECT T1.projectviewit staff T T2 Faculty AS T2resresstudentlight air11 JOIN T AS ON2 ON T T212cid  = "3 pro2.driverid AS BY3 ON3schoolc  "  = T2 ON "statusZ
[+] Epoch: [26/300] G_Loss: 3.0345020294189453 D_Loss: 0.4105989933013916
Prompt:
 Find the name and salary of the instructors who are advisors of any student from History department
Output:
 SELECT lo_be ,   FROM shop FROM match_ OR minurCatalog_" AND "0 OR  1930"
[+] Epoch: [26/300] G_Loss: 3.1064980030059814 D_Loss: 0.5944991111755371
Prompt:
 What are the first and last names of all students who are not living in the city HKG and order the results by age
Output:
 SELECT t.WGonginDIPrate filmderEol_ountoplenit.ust t2 ON = tOTSAernmbationen Covationroupn SARivDode t "up.mo deonime S2J"pe
[+] Epoch: [27/300] G_Loss: 3.0203702449798584 D_Loss: 0.5443332195281982
Prompt:
 What are the ids of the stations in San Francisco that normally have more than 10 bikes available
Output:
 SELECT T2pidnamey , AS T1 JOIN dept_details , AS T1 ON1ir_id FROM AS = ON T JOINgraq ON  T ON2._ideat av. JOINeacha_sj GROUP =(*) =  2mt__
[+] Epoch: [27/300] G_Loss: 3.8886208534240723 D_Loss: 0.7993022203445435
Prompt:
 What are the student ID and login name of the student who are enrolled in the most courses
Output:
 SELECT Name Name  count   1LLA , LIMIT  BY(ren)e PO) ANDpentinent LIMIT 1"
[+] Epoch: [27/300] G_Loss: 3.047769069671631 D_Loss: 0.4777848720550537
Prompt:
 Which professionals live in a city containing the substring 'West' List his or her role, street, city and state.
Output:
 SELECT T_idatididasog_name)  T1 ON11ant.typescode  T T1.typeidcode  T T3projectshor )s  T1 -reatkotProcount
[+] Epoch: [28/300] G_Loss: 3.440457820892334 D_Loss: 0.5927811861038208
Prompt:
 For each company id, what are the companies and how many gas stations does each one operate
Output:
 SELECT T(t  T1zip_ FROM s JOIN1I JOIN1 AS T2 ON T2.opleid   22._id WHERE 2t  airports(*)game4+ >=(*)    1qu-2.9
[+] Epoch: [28/300] G_Loss: 2.9285974502563477 D_Loss: 0.8955694437026978
Prompt:

In [74]:
tokenizer = GPT2TokenizerFast(tokenizer_file="text2sql.json")
tokenizer.pad_token = tokenizer.eos_token
c = tokenizer.encode("How many heads of the departments are older than 56 ?", truncation=True, max_length=60, padding="max_length", return_tensors="pt")
c = c.long().cuda()
G = Generator(vocab_size, seq_len)
G.load_state_dict(torch.load("./ganlm_modelG.pt"))
G.cuda()
G.eval()

z = torch.randn(1, 128).cuda()
with torch.no_grad():
  output = G(z, c)
  output = torch.distributions.Categorical(logits=decoder(output)).sample()

output = tokenizer.batch_decode(output, skip_special_tokens=True)[0]
print(f"Output: \n {output}")

Output:
 SELECT count(*) FROM aiream WHERE age  >  12